<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>部门列表</title>
    <link rel="stylesheet" href="/static/bootstrap/css/bootstrap.min.css">
</head>
<body>
<div class="container">
    <table class="table table-bordered">
        <thead>
        <tr>
            <th>序号</th>
            <th>id</th>
            <th>部门名称</th>

        </tr>
        </thead>
        <tbody>
        {% for d in depts %}
            <tr>
                <td>{{ forloop.counter }}</td>
                <td>{{ d.id }}</td>
                <td>{{ d.name }}</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>
    <nav aria-label="Page navigation">
        <ul class="pagination">
            {{ page_html|safe }}
        </ul>
    </nav>
</div>
</body>
</html>